<div class="funtions">
        <div class="icon-admin">
          <a href="">
            <i class="fa-brands fa-accusoft"></i>
            <h3>Adminator</h3>
          </a>
        </div>

        <div class="list-funtions">
          <div class="child">
            <a href="/admin" class="dashboard">
              <div class="icon">
                <i class="fa-solid fa-house-chimney"></i>
              </div>
              <div class="name">
                <span>Thống kê</span>
              </div>
            </a>
          </div>

          <div class="child">
            <a href="/admin/user" class="manage-user">
              <div class="icon">
                <i class="fa-solid fa-user"></i>
              </div>
              <div class="name">
                <span>Quản lí User</span>
              </div>
            </a>
          </div>

          <div class="child">
            <a href="/admin/question" class="manage-question">
              <div class="icon">
                <i class="fa-solid fa-circle-question"></i>
              </div>
              <div class="name">
                <span>Quản lí câu hỏi</span>
              </div>
            </a>
          </div>

          <div class="child">
            <a href="/admin/category" class="manage-category">
              <div class="icon">
                <i class="fa-solid fa-building-columns"></i>
              </div>
              <div class="name">
                <span>Quản lí danh mục câu hỏi</span>
              </div>
            </a>
          </div>
        </div>
      </div>