<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Page</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

  <link rel="stylesheet" href="/css/styleAdmin.css" />
</head>

<body>
  <div class="app">
    <div class="background-image"></div>

    <div class="funtions">
      <div class="icon-admin">
        <a href="">
          <i class="fa-brands fa-accusoft"></i>
          <h3>Adminator</h3>
        </a>
      </div>

      <div class="list-funtions">
        <div class="child">
          <a href="/admin" class="dashboard">
            <div class="icon">
              <i class="fa-solid fa-house-chimney"></i>
            </div>
            <div class="name">
              <span>Thống kê</span>
            </div>
          </a>
        </div>

        <div class="child">
          <a href="/admin/user" class="manage-user">
            <div class="icon">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="name">
              <span>Quản lí User</span>
            </div>
          </a>
        </div>

        <div class="child">
          <a href="/admin/question" class="manage-question">
            <div class="icon">
              <i class="fa-solid fa-circle-question"></i>
            </div>
            <div class="name">
              <span>Quản lí câu hỏi</span>
            </div>
          </a>
        </div>

        <div class="child">
          <a href="/admin/category" class="manage-category">
            <div class="icon">
              <i class="fa-solid fa-building-columns"></i>
            </div>
            <div class="name">
              <span>Quản lí danh mục câu hỏi</span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <th:div th:include="/adminTemplates/feature"></th:div>

    <div class="content-funtions">
      <div class="navbar">
        <div class="information">
          <h4 th:text="'Xin chào, ' + ${#authentication.getPrincipal().getUsername()}">USERNAME</h4>
          <p>Chúc bạn có một ngày vui vẻ và hạnh phúc</p>
        </div>

        <div class="box">
          <a class="btn btn-info" href="/">Quay về</a>
          <a class="btn btn-warning" href="/logout">Log out</a>
        </div>
      </div>

      <div class="statistical">
        <div class="content row">
          <div class="box col-sm-3">
            <div class="data">
              <h5>Tổng số User</h5>
              <p th:text="${countUser}">COUNTUSER</p>
            </div>
          </div>
          <div class="box col-sm-3">
            <div class="data">
              <h5>Tổng số câu hỏi</h5>
              <p th:text="${countQuestion}">COUNTQUESTION</p>
            </div>
          </div>
          <div class="box col-sm-3">
            <div class="data">
              <h5>Tổng số view</h5>
              <p th:text="${viewQuestion}">VIEWQUESTION</p>
            </div>
          </div>
          <div class="box col-sm-3">
            <div class="data">
              <h5>Tổng số câu hỏi tháng này</h5>
              <p th:text="${questionThisMonth}">QUESTIONTHISMONTH</p>
            </div>
          </div>
        </div>
      </div>

      <div class="detail">
        <div class="box">
          <h5 style="text-align: center">
            Thống kê câu hỏi tháng này và tháng trước
          </h5>

          <div class="data">
            <div class="last-month">
              <h6 th:text="${lastMonth} + ' : '">LASTMONTH</h6>
              <div id="graphQuestionLastMonth" class="variable"></div>
              <p id="questionLastMonth" th:text="${questionLastMonth}">
                COUNTQUESTIONLASTMONTH
              </p>
            </div>
            <div class="current-month">
              <h6 th:text="${thisMonth} + ' : '">THISMONTH</h6>
              <div id="graphQuestionThisMonth" class="variable"></div>
              <p id="questionThisMonth" th:text="${questionThisMonth}">
                COUNTQUESTIONTHISMONTH
              </p>
            </div>
          </div>

          <h6>
            Tốc độ tăng trưởng :
            <div id="growthQuestion"></div>
          </h6>
        </div>

        <div class="box">
          <h5 style="text-align: center">
            Thống kê người dùng đăng ký mới tháng này và tháng trước
          </h5>

          <div class="data">
            <div class="last-month">
              <h6 th:text="${lastMonth} + ' : '">LASTMONTH</h6>
              <div id="graphUserlastMonth" class="variable"></div>
              <p id="userLastMonth" th:text="${userLastMonth}">
                COUNTUSERLASTMONTH
              </p>
            </div>
            <div class="current-month">
              <h6 th:text="${thisMonth} + ' : '">THISMONTH</h6>
              <div id="graphUserThisMonth" class="variable"></div>
              <p id="userThisMonth" th:text="${userThisMonth}">
                COUNTUSERTHISMONTH
              </p>
            </div>
          </div>

          <h6>
            Tốc độ tăng trưởng :
            <div id="growthUser"></div>
          </h6>
        </div>
      </div>
    </div>
  </div>

  <script>
    //// START USER /////
    const userThisMonth = document.getElementById('userThisMonth');
    const userLastMonth = document.getElementById('userLastMonth');
    const graphUserThisMonth = document.getElementById('graphUserThisMonth');
    const graphUserlastMonth = document.getElementById('graphUserlastMonth');
    const growthUser = document.getElementById('growthUser');

    var countUserThisMonth = userThisMonth.textContent;
    countUserThisMonth = parseInt(countUserThisMonth);
    var countUserLastMonth = userLastMonth.textContent;
    countUserLastMonth = parseInt(countUserLastMonth);

    ///////////////////////////////////
    const ptUser = 600 / (countUserThisMonth + countUserLastMonth);
    graphUserThisMonth.style.width = ptUser * countUserThisMonth + 'px';
    graphUserlastMonth.style.width = ptUser * countUserLastMonth + 'px';
    ///////////////////////////////////

    if (countUserLastMonth > countUserThisMonth) {
      growthUser.classList.add('down');

      if (countUserThisMonth == 0) countUserThisMonth = 1;

      growthUser.innerText =
        '-' + (countUserLastMonth / countUserThisMonth) * 100 + '%';
    } else {
      growthUser.classList.add('up');

      if (countUserLastMonth == 0) countUserLastMonth = 1;

      growthUser.innerText =
        '+' + (countUserThisMonth / countUserLastMonth) * 100 + '%';
    }

    ///// END USER /////

    ///// START QUESTION /////

    const questionThisMonth = document.getElementById('questionThisMonth');
    const questionLastMonth = document.getElementById('questionLastMonth');
    const graphQuestionThisMonth = document.getElementById(
      'graphQuestionThisMonth'
    );
    const graphQuestionLastMonth = document.getElementById(
      'graphQuestionLastMonth'
    );

    const growthQuestion = document.getElementById('growthQuestion');

    var countQSThisMonth = questionThisMonth.textContent;
    countQSThisMonth = parseInt(countQSThisMonth);
    var countQSLastMonth = questionLastMonth.textContent;
    countQSLastMonth = parseInt(countQSLastMonth);

    ///////////////////////////////////
    const ptQuestion = 600 / (countQSThisMonth + countQSLastMonth);
    graphQuestionLastMonth.style.width = ptQuestion * countQSLastMonth + 'px';

    graphQuestionThisMonth.style.width = ptQuestion * countQSThisMonth + 'px';
    ///////////////////////////////////

    if (countQSLastMonth > countQSThisMonth) {
      growthQuestion.classList.add('down');

      if (countQSThisMonth == 0) countQSThisMonth = 1;

      growthQuestion.innerText =
        '-' + (countQSLastMonth / countQSThisMonth) * 100 + '%';
    } else {
      growthQuestion.classList.add('up');

      if (countQSLastMonth == 0) countQSLastMonth = 1;

      growthQuestion.innerText =
        '+' + (countQSThisMonth / countQSLastMonth) * 100 + '%';
    }

      ///// END QUESTION //////
  </script>
</body>

</html>