<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Đăng nhập tài khoản trang quản trị</title>

	<link rel="stylesheet" href="/css/loginAdmin.css" />
</head>

<body>
	<main>
		<div class="form-input">
			<h1>WELCOME TO ADMINATOR PAGE</h1>

			<form action="/admin/login" method="post" id="form-register">
				<div class="data-form">
					<p>Địa chỉ email</p>
					<input name="username" id="email" type="text" placeholder="VD : example@gmail.com" />
					<p>Mật khẩu</p>
					<input name="password" id="password" type="password" />
				</div>
				<button style="margin-left: 35%;">Login</button>
			</form>

		</div>
	</main>
</body>

</html>