<nav xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	class="navbar fixed-top navbar-expand-lg navbar-light bg-light opacity-100">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">NPS Community</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item"><a class="nav-link" href="/users">Users</a></li>
				<li class="nav-item"><a class="nav-link" href="/questions">Questions</a></li>
			</ul>
			<div class="border-light w-50 mx-auto input-group">
				<input type="search" class="border-end-0 border-dark form-control rounded-end rounded-pill"
					placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
				<button class="border-1 rounded-start rounded-pill material-icons-outlined">search</button>
			</div>
			<a class="nav-link" href="/login" sec:authorize="!isAuthenticated()">Login</a>
			<a class="nav-link" href="/signup" sec:authorize="!isAuthenticated()">Signup</a>
			<a class="nav-link" sec:authorize="isAuthenticated()" th:href="${'/users/' + #request.userPrincipal.name}"
				th:utext="${#request.userPrincipal.name}"></a>
			<a class="nav-link" href="/logout" sec:authorize="isAuthenticated()">Logout</a>
			<button class="btn">
				<img sec:authorize="isAuthenticated()" th:src="${auth_user.avatar}" alt="avatar"
					class="auth-user-avatar rounded-circle">
			</button>
		</div>
	</div>
</nav>